

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

p {
    font-family: Tahoma, Verdana, sans-serif;
}

.container {
    display: flex;
    max-width: 960px;
    background-color: #eaeaea;
    justify-content: space-between;
    margin: 20px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
}

.profile {
    flex-basis: 35%;
    background-color: #39383a;
    color: #ababab;
    max-width: 35%;
}

.profile-photo {
    max-width: 100%;
    height: auto;
}

.profile-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.profile-text {
    font-size: 13px;
    line-height: 24.19px;
    margin-bottom: 50px;
    overflow-wrap: anywhere;
}

.heading {
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px !important;
    font-family: monospace;
    letter-spacing: 3px !important;
}

.heading-light {
    color: #ffffff;
    border-bottom: 2px #5a5a5a dashed;
}

.contacts {
    margin-bottom: 70px;
}

.contacts-title {
    color: #fff;
    margin-bottom: 13px;
    font-size: 17px;
    font-family: monospace;
}

.contacts-text {
    color: #ababab;
    text-decoration: none;
    padding-left: 27px;
    line-height: 20.97px;
    font-family: Tahoma, Verdana, sans-serif;
}

.contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px #5a5a5a dashed;
}

.address {
    font-style: normal;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.language {
    width: 100px;
    height: 100px;
    border: 6px solid #68B1FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}

.language:nth-child(3) {
    margin-bottom: 0;
}

.language-text {
    text-transform: uppercase;
    font-size: 11px;
    font-family: Tahoma, Verdana, sans-serif;
    color: white;
    font-weight: bold;;
}

.languages-per {
    font-size: 15px;
    font-weight: 600;
}

.resume {
    padding: 25px 30px;
    flex-basis: 63%;
    background-color: #fff;
}

.resume-wrap {
    padding: 36px 56px;
    border: 1px solid rgba(168, 168, 168, 0.44);
    min-height: 100%;
}

.about {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    margin-bottom: 40px;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10.75px;
    margin-bottom: 5px;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
}

.position {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #808080;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.about-address {
    font-size: 13px;
    margin-bottom: 15px;
    font-family: Roboto;
}

.about-contacts {
    font-size: 8px;
}

.about-contacts__link {
    text-decoration: none;
    color: #777777;
}

.heading_dark {
    font-size: 1.4em;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 37px;
    letter-spacing: 3px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
}

.list-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000;
}

.list-item__title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: monospace;

}

.list-item__date {
    font-size: 12px;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, sans-serif;
    color: #777;
}

.list-item__text {
    font-size: 13px;
    color: #777;
    overflow-wrap: anywhere;
}

.list-item_non-border {
    border: none;
}

.heading_skills {
    margin-bottom: 48px;
}
.heading_skills span {
    top: 5px;
    position: relative;
    padding-right: 10px;
}

.hidden {
    display: none;
}
.skill-button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #68b1ff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
    float: right;
}

.skill-button:hover {background-color: #a7c3e1}

.skill-button:active {
    background-color: #04AA6D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
}

.skills-list__item {
    margin-bottom: 30px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-family: Tahoma, Verdana, sans-serif;
    letter-spacing: 2px;
}

.level {
    width: 65%;
    height: 10px;
    border: 1px solid #39383a;
    position: relative;
    margin-top: 5px;
}

.level:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #68b1ff;
}
.level-10:before {
    width: 10%;
}
.level-20:before {
    width: 20%;
}
.level-30:before {
    width: 30%;
}
.level-40:before {
    width: 40%;
}
.level-50:before {
    width: 50%;
}
.level-60:before {
    width: 60%;
}
.level-70:before {
    width: 70%;
}
.level-80:before {
    width: 80%;
}
.level-90:before {
    width: 90%;
}
.level-100:before {
    width: 100%;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        width: 70%;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
        border: 3px solid #fff;
        margin: auto;
        margin-top: 40px;
        display: block;
    }

    .profile {
        position: relative;
        max-width: 100%;
    }

    .profile:before {
        content: '';
        width: 100%;
        height: 150px;
        background-color: #03A9F4;
        display: block;
        position: absolute;
    }

    .profile-photo {
        position: relative;
        z-index: 0;
    }

}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    .resume {
        padding: 10px;
    }

    .resume-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .list-item__title {
        font-size: 14px;
    }

    .list-item__date {
        font-size: 12px;
    }

    .list-item__text {
        font-size: 12px;
        line-height: 1.4;
    }

    .about-contacts__link {
        /* display: flex; */
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    .container {
        min-width: 320px;
    }

    .name {
        letter-spacing: normal;
    }

    .level {
        width: 50%;
    }

}
#skills-list {
    display: none; /* Initially hide the skills list */
}

/* Form Styles */
.form-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: system-ui;
    font-weight: 500;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #68b1ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

/* Button Styles */
.form-btn {
    background-color: #68b1ff;
    color: #fff;
    border: 2px solid;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 600;
    letter-spacing: 4px;
}

#saveChangesBtn {
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    float: right;
}

.form-btn:hover {
    background-color: transparent;
    border: 2px solid #68B1FF;
    color: #333;
}

.form-btn:active {
    background-color: #46af58;
    transform: scale(0.98);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form-section {
        padding: 15px;
    }

    .form-group input, 
    .form-group textarea {
        padding: 8px;
    }

    .form-btn {
        padding: 12px;
        font-size: 14px;
    }
}

.edit-btn {
    background-color: #68b1ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    float: right;
}

.edit-btn:hover {
    background-color: #a7c3e1;
}

.edit-btn:active {
    background-color: #46af58;
    transform: scale(0.98);
}

/* Responsive Styles */
@media (max-width: 768px) {

    .edit-btn {
        padding: 12px;
        font-size: 14px;
    }
}

/* Base styles for the custom alert */
.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Default Green background */
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    font-family: monospace;
    font-size: 16px;
}

/* Hidden state */
.custom-alert.hidden {
    display: none;
}

/* Show state */
.custom-alert.show {
    display: block;
    opacity: 1;
}

/* Alert content layout */
.custom-alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Space between text and icon */
.custom-alert-content span {
    margin-right: 10px;
}

/* Specific styles for success alerts */
.custom-alert.success {
    background-color: #4CAF50; /* Green background */
}

/* Specific styles for error alerts */
.custom-alert.error {
    background-color: #f44336; /* Red background */
}

/* Specific styles for info alerts */
.custom-alert.info {
    background-color: #2196F3; /* Blue background */
}

/* For small screens (e.g., mobile devices) */
@media (max-width: 600px) {
    .custom-alert {
        padding: 10px 20px; /* Adjust padding */
        font-size: 12px; /* Adjust font size */
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.text-center {
    text-align: center;
}

.delete-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #e57373;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;

}

.delete-btn:hover {
    background-color: #c62828;
}

#resume {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.pdf-mode .profile-info {
    padding-top: 15px;
    padding-bottom: 15px;
}


.pdf-mode .heading {
    padding-bottom: 10px;
    font-size: 14px !important;
    letter-spacing: 3px;
}

.pdf-mode .profile-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
}

.pdf-mode .contacts-item {
    padding-top: 10px;
    padding-bottom: 15px;
}

.pdf-mode .contacts-title {
    margin-bottom: 12px;
    font-size: 14px;
    letter-spacing: 3px;
} 

.pdf-mode .contacts-text {
    padding-left: 0px;
    line-height: 20px;
    font-size: 12px;
}

.pdf-mode .contacts {
    margin-bottom: 32px;
}

.pdf-mode .languages {
    padding-top: 20px;
}

.pdf-mode .language {
    margin-bottom: 15px;
}

.pdf-mode .language-text {
    font-size: 10px;
}

.pdf-mode .profile-photo {
    padding: 28px 28px 5px 28px;
}

.pdf-mode .resume {
    padding: 0px 30px;
}

.pdf-mode .resume-wrap {
    padding: 15px 56px;
}

.pdf-mode .about {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 0px;
}

.pdf-mode .name {
    font-size: 16px;
    letter-spacing: 8px;
    margin-bottom: 5px;
}

.pdf-mode .position {
    font-size: 12px;
    margin-bottom: 5px;
}

.pdf-mode .heading_dark {
    margin-bottom: 16px;
}

.pdf-mode .list-item {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.pdf-mode .list-item__title {
    font-size: 14px;
    margin-bottom: 10px;
}

.pdf-mode .list-item__text {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.pdf-mode .education {
    margin-top: 30px;
}

.pdf-mode .skills {
    margin-top: 30px;
}

.pdf-mode .skills-list {
    margin-top: 30px;
}

.pdf-mode .skills-list__item {
    margin-bottom: 25px;
    font-size: 12px;
    font-family: Tahoma, Verdana, sans-serif;
    letter-spacing: 3px;
}

.pdf-mode .delete-btn {
    display: none !important;;
}

.pdf-mode .edit-btn {
    display: none !important;;
}

.pdf-mode .skill-button {
    display: none !important;
}


/* Container for the form sections */
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between form sections */
    margin: 0 auto;
    max-width: 1200px; /* Centering and max width */
    padding: 20px;
}


/* Container for all forms */
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between forms */
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Each form section */
.form-container .form-section {
    flex: 1 1 calc(50% - 20px); /* Two forms per row with space */
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.form-container .heading {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

/* Form styling */
.form-container form {
    display: flex;
    flex-direction: column;
}

/* Form group styling */
.form-container #profileForm .form-group {
    margin-bottom: 27px; 
}

/* Form group styling */
.form-container .form-group {
    margin-bottom: 15px; 
}

/* Label styling */
.form-container label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #555;
}

/* Input and textarea styling */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.9rem;
}

/* File input styling */
input[type="file"] {
    padding: 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-container {
        flex-direction: column; /* Stack forms vertically on small screens */
        gap: 10px; /* Reduce space between forms */
    }

    .form-container .form-section {
        flex: 1 1 100%; /* Full width for each form on small screens */
    }

    .form-container #profileForm .form-group {
        margin-bottom: 15px; 
    }
}



